.ips {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    height: 25px;
    width: 25px;
    background-color: rgb(127, 127, 127);
    border: 1px solid black;
}
button:hover{
    background-color: rgb(91, 91, 91);

}
#ac,#x {
    height: 25px;
    width: 54px;
    gap: 25px;
    
}
#ac {
    background-color: rgb(255, 90, 90);
}
#x {
    background-color: rgb(255, 210, 97);
}

#ac:hover {
    background-color: red;
    
}
#x:hover {
    background-color: rgb(255, 183, 0);

}
.disp {
    border: 1px solid black;
    height: 30px;
    width: 110px;
    margin-left: 20px;
    background-color: antiquewhite;
    border-radius: 5px;

}
.outer {
    height: auto;
    width: auto;
    border: 1px solid black;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    padding-bottom: 20px;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
}
/*.ss {
    
    background-color: rgb(57, 57, 57);
}
.ss:hover {
    background-color: rgb(87, 87, 87);

}*/