.logo-img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 25px;
}

.head-items {
    gap: 10px;
    display: flex;
    border-radius: 5px;

}

.header-container {
    background-color: gray;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.head-items li {
    list-style: none;
    color: whitesmoke
}

.head-container {
    display: flex;
    align-items: center;

}

.head-items a {
    border: 0.5px solid black;
    border-radius: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 0rem;

    transition: 1s;

}

.head-items a:hover {
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: black;
}

.box div {
    background-color: lightskyblue;
}
.box {

    display: grid;
    
    grid-template-rows:  200px 200px 200px 200px 200px;
    gap: 20px;

    /* height: 400px;
    width: 400px;
   background-image: url("../1.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   transition: 1s ease-in;
   */



}
/*
.box:hover {
    transform: scale(0.7) rotate(-10deg);
    border-radius: 100%;
    transition: 1s;
}*/

video {

    height: 400px;
    width: 100%;
    object-fit: cover;
    background-size: contain;
    gap: 0px;

}

footer {
    height: 50px;
    background-color: rgb(0, 12, 243);
    text-align: center;
    gap: 0px;

}
.mv{
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(162, 255, 0);
    gap: 0px;


}
header {

    height: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    gap: 0px;
}

body {
background-color: rgb(0, 0, 0);

}

footer:hover {
    color:aliceblue;
    animation: none;
}
header:hover {
    color:aliceblue;
}
header span:hover {
    color:rgb(15, 143, 255);

}
.heading:hover {
    color:rgb(9, 9, 9);
    animation: rota linear infinite 2s;

}
.heading{
    animation: none

}

@keyframes rota{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
