.logo-img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 25px;
}

.head-items{
    gap:10px;
    display: flex;
    border-radius: 5px;

}

.header-container{
background-color: gray;
display: flex;
height: 80px;
justify-content: space-evenly;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}

.head-items li{
    list-style: none;
    color:whitesmoke
}

.header{

}

.head-container{
    display: flex;
    align-items: center;

}